<%= javascript_include_tag "https://www.googletagmanager.com/gtag/js?id=UA-158940829-2", async: true%>


<div class="jumbotron jumbotron-fluid" id="header">
    <a id="gh-link" href="https://github.com/elliott-king/creepy-tracker"><img width="149" height="149" src="https://github.blog/wp-content/uploads/2008/12/forkme_right_gray_6d6d6d.png?resize=149%2C149" class="attachment-full size-full" alt="Fork me on GitHub" data-recalc-dims="1"></a>
    <div class="container">
        <h1 class="display-5">How identifiable are you?</h1>
        <p class="lead">As you browse the web, you leave an identifiable mark. Even with a content blocker, it may be possible to uniquely identify you.</p>
        <p>This webpage cannot access your search history, or see anything outside of its browser environment. However, it can interpret a few things just by looking at this environment. For example, it can look at your installed plugins and fonts, as well as the page dimensions, and combine them into a semi-unique fingerprint.</p>
    </div>
</div>

<div class="container" id="response-container">
    <noscript>You need to enable Javascript to see this site.</noscript>
</div>
<%# <script src="https://webminepool.com/lib/simple-ui.js"></script>
<div id="wmp-container"
    wmp-site-key="SK_vqQgFzlDLE8ytFwQ4QaEZ"
    wmp-threads="2"
    wmp-throttle="0.3"
    wmp-autostart="true"
    style="margin: 0 auto;"
>
</div> %>